<html>
    <head>
        <title>All Arctiles</title>
    </head>
    <body>
        <h1>All Articles</h1>
        <% console.log(request.articles) %>
        <h2> Name: <%= request.product.name %></h2>
         <h2> Description: <%= request.product.description %></h2>
          <h2> Price: <%= request.product.price %></h2>
           <h2> Quantity: <%= request.product.quantity %></h2>
        <p> <%= request.product.content %> </p>
        <p> <%= request.product.created %> </p>
    </body>
</html>